asgiref==3.11.0
Django==6.0.1
sqlparse==0.5.5
asgiref==3.11.0
Django==6.0.1
django-restframework==0.0.1
sqlparse==0.5.5
asgiref==3.11.0
blinker==1.9.0
click==8.3.1
Django==6.0.1
django-restframework==0.0.1
djangorestframework==3.16.1
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
peewee==3.19.0
pillow==12.1.0
Pygments==2.19.2
sqlite-web==0.6.7
sqlparse==0.5.5
Werkzeug==3.1.5
